@import "reset";
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

#slide-content {
  font-family: "Noto Serif JP", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  font-size: var(--default-font-size);
  cursor: url("../public/laser-red.png"), pointer;
}

.slidev-layout {
  width: 100%;
  height: 100%;
  padding: var(--header-height) var(--side-padding) 0 var(--side-padding);
}

#slide-content strong {
  color: var(--accent-color)
}

.slidev-layout.title {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.slidev-layout.title::before, .slidev-layout.accent::before {
  content: '';
  display: block;
  position: absolute;
  width: 342px; height: 342px;
  z-index: -1;
}

.slidev-layout.title::before {
  left: 0px; top: 0px;
  background: linear-gradient(-225deg, var(--main-color) 50%, transparent 50%);
}

.slidev-layout.title .title-container {
  position: relative;
  margin-bottom: var(--footer-height);
  transform: translateX(-24px);
  height: fit-content;
  padding-left: 12px;
  border-left: solid 6px var(--text-sub-color);
}

.slidev-layout.title h1 {
  position: relative;
  background-color: transparent;
  color: var(--text-color);
  font-size: 24px;
  padding: 0;
}

.slidev-layout.title p {
  background-color: transparent;
  color: var(--text-color);
  font-size: 18px;
  line-height: 48px;
  border-top: solid 1px var(--text-sub-color);
}

.slidev-layout.accent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--footer-height);
  height: 100%;
  width: 100%;
}

.slidev-layout.accent::before {
  right: 0px; top: 0px;
  background: linear-gradient(-135deg, var(--main-color) 50%, transparent 50%);
}

#slide-content.split table {
  background-color: red;
  width: 100%;
  height: 100%;
}

header {
  color: var(--text-contrast-color);
  position: absolute;
  text-align: right;
  top: calc(var(--header-height) / 2);
  transform: translateY(-50%);
  z-index: 1;
  right: var(--side-padding);
  font-size: var(--mini-font-size);
}

footer {
  width: 100%;
  color: var(--text-sub-color);
  background-color: var(--bg-sub-color);
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: var(--mini-font-size);
  padding: 0 var(--side-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: var(--text-contrast-color);
  width: 100%;
  height: var(--header-height);
  padding-left: var(--side-padding);
  background-color: var(--main-color);
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

ul li, ol li {
  padding-left: 20px;
  position: relative;
}

ul li:before, ol li:before {
  content:  "";
  width:  12px;
  height:  12px;
  position: absolute;
  left: 0;
  top: calc(var(--default-font-size)/2);
  background-color: var(--text-sub-color);
  margin-right: 6px;
}

blockquote {
  border-top: 1px dashed var(--text-sub-color);
  font-size: var(--mini-font-size);
  color: var(--sub-text-color);
  width: 100%;
  position: absolute;
  left: 0;
  padding: 8px var(--side-padding);
  bottom: var(--footer-height);
}

blockquote a {
  color: var(--a-color);
}

blockquote::before {
  display: none;
}
blockquote::after {
  display: none;
}
