/* @theme variables */

:root {
  --main-color: #1894ec;
  --text-color: #585858;
  --text-sub-color: #8b8a8a;
  --text-contrast-color: #ebebeb;
  --accent-color: #ee7d31;
  --bg-color: #f6f6f6;
  --bg-sub-color: #eaeaea;
  --side-padding: 42px;
  --header-height: 84px;
  --footer-height: 42px;
  --mini-font-size: 16px;
}
